.brand {
    width: 50px;
    max-width: 60px;
}

.brand-text {
    font-size: 1.3rem;
    margin: 0;
}

.nav-item>.nav-link {
    color: inherit !important;
}

.active {
    color: rgb(210, 83, 236) !important;
    font-weight: 600 !important;
}

/* TODO: make the navbar vertical sliding rom right to left, and the donate/support us button*/

.hero-left {
    min-height: 90svh;
}



@media screen and (max-width: 576px) {
    .navbar-brand>.brand-text {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {}

.main__content {
    background-color: rgb(103, 184, 157);
    min-height: 500px;
}

.footer {
    background-color: rgb(43, 43, 85);
}